@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin-left: 10%;
}

.in {
	border: 3px solid orange;
}

.btn button {
	background: orange;
	color: white;
	border: none;
	box-shadow: none;
	padding: 40px 20px 40px 20px;
	font-size: 18px;
}

.out {
	border: 3px solid orange;
	width: 400px;
}

#tree {
	padding-left: 10px;
}

textarea {
	width: 400px;
	height: 500px;
	border: none;
}

h1 {
	background: orange;
	color: white;
	margin: 0px;
	padding: 20px;
	text-align: center;
}

.string {
	color: green;
}

.number {
	color: red;
}

.level {
	margin-left: 20px;
}

.collapse {
	display: none;
}

p {
	margin: 0px 0px 0px 20px;
}

.keyWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
